UL {
  list-style-type: none;
  margin: 0px;
  padding: 2px 15px 0px;
}

UL#filter {
  border: 1px #ddd solid;
  margin: 20px 0px 10px;
  padding: 5px 2px 3px;
}

UL#filter LI {
  padding: 0px 6px 0px;
  margin: 0px;
  border-left: 2px black solid;
}
UL#filter LI#root { border: none; }
UL#filter LI LI { border-left-color: #00c; }
UL#filter LI LI LI { border-left-color: #0c0; }
UL#filter LI LI LI LI { border-left-color: #c00; }
UL#filter LI LI LI LI LI { border-left-color: #aaa; }

UL#filter SELECT {
  margin: 0px 3px;
  width: 140px;
}
