/******************************** SONG TABLE *********************************/

TABLE.data {
    border: 1px #ddd solid;
    border-collapse: collapse;
    margin: 20px 0px;
    width: 100%;
}

TABLE.data THEAD TH {
    background-color: #aaa;
    border: 1px #ccc solid;
    color: #fefede;
    font-size: 13px;
    font-weight: bold;
    padding: 2px 7px;
    text-align: left;
}

TABLE.data THEAD TH.sort {
    cursor: pointer;
}

TABLE.data THEAD TH.sorta {
    background-color: #808080;
    background-image: url(/audio/images/sorta.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    cursor: pointer;
}

TABLE.data THEAD TH.sortd {
    background-color: #808080;
    background-image: url(/audio/images/sortd.png);
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
}

TABLE.data THEAD TH.edit {
    width: 12px;
}

TABLE.data THEAD TH.dl {
    width: 12px;
}

TABLE.data THEAD TH.drag {
    width: 16px;
}

TABLE.data TBODY TR.a {}
TABLE.data TBODY TR.b { background-color: #f2f2ff; }
/* TODO(rnk): 'c' means currently playing. Use a better name.  */
TABLE.data TBODY TR.c { border-bottom: 3px #ccf double; }

TABLE.data TBODY TD {
    font-size: 14px;  /* sometimes this gets overridden */
    text-align: left;
    padding: 3px 7px 4px;
    border-right: 1px #ddd solid;
}

TABLE.data TBODY TD.r { text-align: right; }
TABLE.data TBODY TD.c { text-align: center; }

TABLE.data TBODY TD.new A {
    background-image: url(/audio/images/new.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

TABLE.data TBODY TD.edit {
    cursor: pointer;
    width: 12px;
}

TABLE.data TBODY TD.drag {
    cursor: move;
    width: 16px;
}

TABLE.data TBODY TD A {
    color: #000;
    text-decoration: none;
}
TABLE.data TBODY TD A:hover {
    color: #00f;
    text-decoration: underline;
}
TABLE.data TBODY TD A:active { color: #f00; }

TABLE.data TBODY TD A.queue { color: #00c; }
TABLE.data TBODY TD A.queue:hover { color: #33f; }
TABLE.data TBODY TD A.queue:active { color: #f00; }

TABLE.data TBODY TD A.recent { color: #858; }
TABLE.data TBODY TD A.recent:hover { color: #639; }
TABLE.data TBODY TD A.recent:active { color: #f00; }

TABLE.data TBODY TD IMG {
    vertical-align: middle;
}

TABLE.data TBODY TD INPUT.text {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.dl-link {
    color: blue;
    text-decoration: underline;
}

.dl-link IMG {
    border: 0px;
}

div.fav-heart {
    cursor: pointer;
}

/******************************** COLPICKER **********************************/

table.data thead th.col-picker {
    margin: 2px;
    padding: 2px;
    border-spacing: 2px;
}

th.col-picker div.cmDiv {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    background: none;
    border: 0;
}

th.col-picker ul {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    list-style: none;
    color: black;
    font-size: 11pt;
}

th.col-picker ul li.main {
    padding: 2px;
    background: none;
}

table.data .clickMenu div.inner {
    left: -92px;
    min-width: 120px;
}

th.col-picker ul#col-list li .aenclave-sprites {
    display: inline-block;
    margin: 2px;
}

/* HACK: We can't use a div for this sprite because of the clickmenu plugin, so
 * we style a span as a block-level element. */
span.aenclave-sprites-selectcol-png {
    display: block;
}

/***************************** SONGLIST COLUMNS ******************************/

.select {
    width: 1px;
}

.drag {

}

.track {
    /*width: 40px;*/
}

.title {
    
}

.album {
}

.artist {
}

.time {
    width: 40px; 
}

.date-added {
    width: 130px;
}

.col-picker {
    width: 10px;
}

.c div.aenclave-sprites-speaker-png {
    margin: auto;
}

/******************************** ACTIONS BAR ********************************/

DIV#actions {
    background-color: #ddd;
    border-top: 1px #aaa solid;
    font-size: 12px;
    padding: 5px 0 0 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: left;
    width: 100%;
    height: 30px;
    z-index: 2;
}

DIV#actions A {
    background-color: #eef;
    border: 1px #cce outset;
    color: #779;
    cursor: pointer;
    font-size: 10pt;
    height: 12px;
    margin: 0px 5px;
    padding: 2px 5px 2px 19px;
    position: relative;
    top: 4px;
    text-decoration: none;
    vertical-align: middle;
}
DIV#actions A:hover {
    background-color: #edf;
    color: #557;
}
DIV#actions A:active {
    background-color: #bbf;
    border: 1px #cce inset;
    color: #335;
}

div#actions .aenclave-sprites {
    position: absolute;
    left: 3px;
    top: 3px;
}

DIV#actionsgap { height: 30px; }

.random-control {
    font-size: 14px;
    vertical-align: top;
}

/****************************** SUB-ACTIONS BAR ******************************/

DIV#subactions {
    background-color: #ccc;
    border-top: 1px #888 solid;
    font-size: 12px;
    padding: 5px 0 0 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: left;
    width: 100%;
    height: 30px;
    z-index: 1;
}

DIV#subactions A {
    background-color: #eef;
    border: 1px #cce outset;
    color: #779;
    cursor: pointer;
    font-size: 10pt;
    margin: 0px 5px;
    padding: 2px 5px 2px 19px;
    position: relative;
    top: 3px;
    text-decoration: none;
    vertical-align: middle;
}
DIV#subactions A:hover {
    background-color: #edf;
    color: #557;
}
DIV#subactions A:active {
    background-color: #bbf;
    border: 1px #cce inset;
    color: #335;
}

div#subactions a .aenclave-sprites {
    position: absolute;
    left: 3px;
    top: 3px;
}

DIV#subactions INPUT {
    position: relative;
    bottom: 3px;
    vertical-align: middle;
}
DIV#subactions SELECT {
    position: relative;
    bottom: 3px;
    vertical-align: middle;
}

DIV#subactions SPAN {
    font-size: 10pt;
    height: 12px;
    margin: 0px 10px 0px 0px;
    padding: 2px 1px;
    position: relative;
    top: 3px;
    vertical-align: middle;
}

/*****************************************************************************/
