{% extends "aenclave/songlist_base.html" %}
{% load humanize %}

{% block title %}{{block.super}} Channels{% endblock %}

{% block header %}Channels{% endblock %}

{% block scripts %}{{block.super}}
  <script type="text/javascript" src="{% url aenclave-scripts "channels.js" %}"></script>
  <script type="text/javascript">
    // This is here so we can use the url templatetag.
    jQuery(document).ready(function() {
      songlist.enable_dnd(function(table, row) {
        row = jQuery(row);
        var prev_row = row.prev("tr");
        var playid = jQuery(".song_selected", row).attr('playid');
        var after_playid = jQuery(".song_selected", prev_row).attr('playid');
        // The current song will not have a checkbox input.
        if (!after_playid) {
          after_playid = -1;  // -1 is a sentinel value for beginning.
        }
        jQuery.ajax({
          url: '{% url aenclave-channel-reorder channel.id %}',
          type: 'get',
          data: {'playid': playid, 'after_playid': after_playid}
          // TODO(rnk): Let the user know in case of error.
        });
      });
    });
  </script>
{% endblock %}

{% block presonglist %}
  <div id="debugz"></div>
  {% if song_list %}
    <p>There {{song_list|length|pluralize:"is,are"}}
      {{song_list|length|apnumber|intcomma}}
      song{{song_list|length|pluralize}} in the queue.</p>
  {% else %}
    <p>{% if current_song %}There is one song playing. {% endif %}No songs are in the queue.</p>
  {% endif %}
{% endblock %}

{% block actions %}
  {% if song_list %}
    <a href="javascript:channels.dequeue();" class="remove">Dequeue selected songs</a>
  {% endif %}
  {{block.super}}
  {% if current_song and not skipping %}
    <a href="javascript:channels.askemail();" class="email">Email link to song&hellip;</a>
  {% endif %}
  <a href="javascript:channels.recent();" class="history">Recently played</a>
{% endblock %}

{% block postcopyright %}{{block.super}}
  {% if song_list %}
    <form name="dequeueform" action="{% url aenclave-dequeue-songs %}" method="POST">
      <input type="hidden" name="playids">
    </form>
  {% endif %}
{% endblock %}
