{% extends "songlist_base.html" %}
{% load humanize %}

{% block title %}{{block.super}} Playlist Detail{% endblock %}

{% block header %}Playlist Detail{% endblock %}

{% block styles %}{{block.super}}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}aenclave/styles/playlist.css"/>
{% endblock %}

{% block scripts %}{{block.super}}
  <script type="text/javascript" src="{{ MEDIA_URL }}aenclave/scripts/playlist.js"></script>
{% endblock %}

{% block presonglist %}
  <div id="plisthead">
    <span>{{playlist.name}}</span> &mdash;
    {{song_list|length|intcomma}} song{{song_list|length|pluralize}} &mdash;
    [<a href="{% url aenclave-user-playlist playlist.owner.username %}"><tt>{{playlist.owner.username}}</tt></a>{% if playlist.group %} / {{playlist.group.name}}{% endif %}]
    {% if allow_edit %}
      <a id="edit-button" class="edit" href="javascript:playlist.edit();">Edit</a>
      <a style="display: none" id="save-button" class="edit" href="javascript:playlist.save('{% url aenclave-playlist-edit playlist.id %}');">Save</a>
    {% endif %}
  </div>
  {% if not song_list %}
    <p>This playlist is empty.</p>
  {% endif %}
{% endblock %}

{% block actions %}{{block.super}}{% if allow_edit and song_list %}
    <a href="javascript:playlist.remove();" class="remove">Remove selected songs</a>{% endif %}
  {% if allow_cede %}
    <a href="javascript:playlist.askdel();" class="delete">Delete playlist&hellip;</a>{% endif %}
{% endblock %}

{% block postcopyright %}{{block.super}}
  {% if allow_edit %}
    <form name="removeform" action="{% url aenclave-playlist-remove %}" method="POST">
      <input type="hidden" name="pid" value="{{playlist.id}}"/>
      <input type="hidden" name="ids"/>
    </form>
  {% endif %}
  {% if allow_cede %}
    <form name="playlistdeleteform" action="{% url aenclave-playlist-delete %}" method="POST">
      <input type="hidden" name="pid" value="{{playlist.id}}"/>
    </form>
  {% endif %}
{% endblock %}
