{% extends "header_base.html" %}
{% load aenclave %}

{% block styles %}{{block.super}}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}aenclave/styles/songlist.css"/>
{% endblock %}

{% block scripts %}{{block.super}}
  <script type="text/javascript" src="{{ MEDIA_URL }}aenclave/scripts/jquery-1.2.6.min.js"></script>
  {# This lets jQuery and Prototype coexist.  Prototype gets '$', and to get #}
  {# jQuery's '$', use the jQuery variable.  #}
  <script type="text/javascript">jQuery.noConflict();</script>
  <script type="text/javascript" src="{{ MEDIA_URL }}aenclave/scripts/jquery.tablednd_0_5.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}aenclave/scripts/songlist.js"></script>
{% endblock %}

{% block content %}
  {% block presonglist %}{% endblock %}
  {% if song_list or current_song or show_songlist %}
    <table class=data id=songlist>
      <thead>
        <tr>
          <th class="select">
            <input type=checkbox onclick="songlist.select_all(this);"/>
          </th>
          <th class="drag">{# For the drag-handle. #}</th>
          {% if current_song %}
            <th class="track">Track</th>
            <th class="title">Title</th>
            <th class="album">Album</th>
            <th class="artist">Artist</th>
            <th class="time">Time</th>
            <th class="date-added">Date added</th>
          {% else %}
            <th class="sort song-track" sorttype="int" onclick="songlist.sorta(this);">Track</th>
            <th class="sort title" sorttype="text" onclick="songlist.sorta(this);">Title</th>
            <th class="sort album" sorttype="text" onclick="songlist.sorta(this);">Album</th>
            <th class="sort artist" sorttype="text" onclick="songlist.sorta(this);">Artist</th>
            <th class="sort time" sorttype="time" onclick="songlist.sorta(this);">Time</th>
            <th class="sort date-added" sorttype="date" onclick="songlist.sorta(this);">Date added</th>
          {% endif %}
          {% if user.is_authenticated %}
            <th class="edit"></th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% if skipping %}
          <tr class="c">
            <td class="c"><img src="{{ MEDIA_URL }}aenclave/images/speaker.png"/></td>
            <td class="c" colspan="7">(Dequeuing current song...)</td>
          </tr>
        {% else %}
          {% if current_song %}
            <tr class="c">
	      {% with current_song as song %}
	        {% with "true" as current %}
	          {% include "songlist_song_row.html" %}
	        {% endwith %}
	      {% endwith %}
            </tr>
          {% endif %}
        {% endif %}
        {% for song in song_list %}
          <tr class={% cycle a,b %}>
            {% include "songlist_song_row.html" %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  {% block postsonglist %}{% endblock %}
{% endblock %}

{% block postcopyright %}
  {% if song_list or force_actions_bar %}
    <div id=actionsgap></div>

    <div id=actions>
      {% block actions %}
        {% if song_list or show_songlist %}
          {% if not no_queuing %}
            <a href="javascript:songlist.queue();" class=queue>Queue selected songs</a>
          {% endif %}
          {% if user.is_authenticated %}
            {% if dl %}
              <a href="javascript:songlist.dl();" class=dl>DL selected songs</a>
            {% endif %}
            <a href="javascript:songlist.askcreate();" class=create>Save as playlist&hellip;</a>
            <a href="javascript:songlist.askadd();" class=add>Add to playlist&hellip;</a>
            {% if user.is_staff %}
              <a href="javascript:songlist.delete();" class=delete>Delete selected songs</a>
            {% else %}
              <a href="javascript:songlist.askdelete();" class=delete>Request for deletion</a>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endblock %}
    </div>

    <div id=subactions></div>

    {# Forms that get submitted by Javascript. #}
    {% if not no_queuing %}
      <form name="queueform" action="{% url aenclave-queue-songs %}" method="POST">
        <input type="hidden" name="ids"/>
      </form>
    {% endif %}
    {% if user.is_authenticated %}
      <form name="dlform" action="{% url aenclave-dl %}" method="POST">
        <input type="hidden" name=ids/>
      </form>
      <form name="createform" action="{% url aenclave-playlist-create %}" method="POST">
        <input type="hidden" name="name"/>
        <input type="hidden" name="ids"/>
      </form>
      <form name="addform" action="{% url aenclave-playlist-add %}" method="POST">
        <input type="hidden" name="pid"/>
        <input type="hidden" name="ids"/>
      </form>
    {% endif %}
    <form name=deleteform action="{% url aenclave-delete-songs %}" method="POST">
      <input type="hidden" name="ids"/>
    </form>
  {% endif %}
{% endblock %}
