{% extends "aenclave/songlist_base.html" %}
{% load humanize %}

{% block title %}{{block.super}}{% if title %}{{ title }}{% else %}List Songs{% endif %}{% endblock %}

{% block header %}{% if title %}{{ title }}{% else %}List Songs{% endif %}{% endblock %}

{% block styles %}{{block.super}}
  <link rel="stylesheet" type="text/css" href="{% url aenclave-styles "upload.css" %}"/>
{% endblock %}

{% block presonglist %}
  <p>Listing {{song_list|length|apnumber|intcomma}} songs.</p>
{% endblock %}
