<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

{% load bundler_tags %}
{% load venclave_tags %}

<html>

  <head>
    <title>{% block title %}VEnclave{% endblock %}</title>
    <meta name="authors" content="Media Enclave Team"/>
    <meta name="copyright" content="&copy; 1999&ndash;2009 by Putz Inc."/>
    <meta name="robots" content="NONE"/>
    {% block styles %}
      {% css "venclave-styles" "base.css" %}
    {% endblock %}
    {% block scripts %}
      {% javascript "venclave-scripts" "jquery-1.3.2.min.js" %}
      {% javascript "venclave-scripts" "base.js" %}
    {% endblock %}
  </head>

  <body>
    <div id="container">
    <div id="header">
      {% block header %}
      <div id="login">
        {% if user.is_authenticated %}
        <tt>{{user.username}}</tt>
        [<a href="{% url menclave-logout %}?goto={% url venclave-home %}">logout</a>]
        {% else %}
        [<a href="{% url menclave-login %}?goto={{ request.build_absolute_uri }}">login</a>]
        {% endif %}
      </div>

        <div id="title">
          <img src="{% url venclave-images "browse_title.png" %}" alt="Video Enclave" />
        </div>

        <div id="navigation">{% breadcrumbs request %}</div>

        <div id="search">
          <form method="GET" action="{% url venclave-browse %}">
            <input type="text" class="search_query" name="q" size="30" value="{{search_query}}" />
            <input type="submit" value="Go"/>
            <input type="reset" value="Clear" onclick="this.parentNode.q.value=''; console.log(this.parentNode.q.value); this.parentNode.submit()" />
          </form>
        </div>
      {% endblock header %}
    </div>

    {% block content %}{% endblock content %}

    {% block copyright %}
    <div id="copyright">Powered by
      <a href="http://code.google.com/p/media-enclave/">Media-Enclave</a></div>
    <div id="copyright">&copy; 1999&ndash;2009 by Putz Inc.</div>
    {% endblock copyright %}

    </div>
  </body>

  <head>
    {% deferred_content %}
  </head>

</html>
