{% extends "base.html" %}

{% block header %}
<img src="{% url venclave-images "venclave_welcome.png" %}" alt="Video Enclave" />
{% endblock header %}

{% block content %}
<table class="home-content">
  <tr>
    <th>
      Welcome back
    </th>
    <th>
      Create an account
    </th>
  </tr>
  <tr>
    <td>
      <form name="login" action="{% url venclave-home %}" method="POST">
	<p>
	  <label for="login_username">Username:</label>
	  <input type="text" maxlength="30" name="username" id="login_username"/>
	</p>
	<p>
	  <label for="login_password">Password:</label> <input type="password" id="login_password" name="password"/>
	  <input type="hidden" name="f" value="l" />
	</p>
	<input type="submit" />
      </form>
    </td>
    <td>
      <form name="register" action="{% url venclave-home %}" method="POST">
	{% for field in reg_form %}
          <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
          </div>
	{% endfor %}
	<input type="hidden" name="f" value="r" />
	<input type="submit" />
      </form>
    </td>
  </tr>
</table>
{% endblock content %}
