{% extends "venclave/base.html" %}

{% load venclave_tags %}
{% load bundler_tags %}

{% block styles %}
  {{ block.super }}
  {% css "venclave-styles" "jquery-ui-1.7.1.custom.css" %}
  {% css "venclave-styles" "browse.css" %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% javascript "venclave-scripts" "jquery.json-1.3.min.js" %}
  {% javascript "venclave-scripts" "jquery-ui-1.7.1.custom.min.js" %}
{% endblock scripts %}

{% block browse-image %}
  <img src="{% url venclave-images "browse_green.png" %}" alt="Browse" />
{% endblock browse-image %}


{% block content %}
  <div id="results-banner">
    {{banner_msg|safe}}
  </div>

  <table id="video-list">
    <tr>
      <th>Title</th>
      <th>Length</th>
      <th>Size</th>
      {# TODO(rnk): Should make these headers sortable. #}
      {# TODO(rnk): Icons might be nice here. #}
      <th>IMDB</th>
      <th>MC</th>
      <th>RT</th>
    </tr>

    {% for node in nodes %}
      <tr>
        <td class="item-title">
          <a href="{{ node.title|urlencode }}">{{ node.title }}</a></td>
        <td class="item-length">98 min</td>
        <td class="item-size">XXX MB</td>
        <td class="item-rating">
          {% with node.metadata.imdb as imdb %}
            {% if imdb %}
              <a href="{{ imdb.imdb_uri }}">{{ imdb.rating|rating }}</a>
            {% endif %}
          {% endwith %}
        </td>
        <td class="item-rating">
          {% with node.metadata.metacritic as mc %}
            {% if mc %}
              <a href="{{ mc.mc_uri }}">{{ mc.score|rating }}</a>
            {% endif %}
          {% endwith %}
        </td>
        <td class="item-rating">
          {% with node.metadata.rotten_tomatoes as rt %}
            {% if rt %}
              <a href="{{ rt.rt_uri }}">{{ rt.percent|rating }}</a>
            {% endif %}
          {% endwith %}
        </td>
      </tr>
    {% endfor %}

  </table>
{% endblock %}
