<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>speech</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
		<servlet>
      <servlet-name>ajaxcontrol</servlet-name>
      <servlet-class>edu.mit.csail.sls.wami.WamiServlet</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>ajaxcontrol</servlet-name>
      <url-pattern>/ajaxcontrol</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>play</servlet-name>
        <servlet-class>edu.mit.csail.sls.wami.audio.PlayServlet</servlet-class>
	</servlet>

    <servlet-mapping>
        <servlet-name>play</servlet-name>
        <url-pattern>/play</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>record</servlet-name>
        <servlet-class>edu.mit.csail.sls.wami.audio.RecordServlet</servlet-class>
	</servlet>

    <servlet-mapping>
        <servlet-name>record</servlet-name>
        <url-pattern>/record</url-pattern>
    </servlet-mapping>

	 <context-param>
    	<param-name>configFileName</param-name>
    	<param-value>/WEB-INF/config.xml</param-value>
    </context-param>
	
</web-app>
