<tr>
  <td>
  </td>
  <td colspan="4">
    <table>
      <tr>
	<th rowspan="2">
	  plot
	</th>
	<td rowspan="2">
	  plot goes here
	</td>
	<th>
	  language
	</th>
	<td>
	  English, Spanish
	</td>
      </tr>
      <tr>
	<th>
	  genre
	</th>
	<td>
	  genres
	</td>
      </tr>
      <tr>
	<th>
	  director
	</th>
	<td>
	  blah blah
	</td>
	<td rowspan="2" colspan="2">
	  downloads
	</td>
      </tr>
      <tr>
	<th>
	  starring
	</th>
	<td>
	  blah blah
	</td>
      </tr>
    </table>
  </td>
</tr>
