{% load venclave_tags %}

<tr id1="{{ node.id }}">
  <td class="item-icon">
    {% block icon %}{% endblock %}
  </td>
  <td class="item-arrow">
  </td>
  <td class="item-title">
    <a href="#" class={% if sublist %}"parent"{% else %}"leaf"{% endif %} onclick="return venclave.videolist.title_onclick(this)">{{ node.title}}</a>
  </td>
  <td class="item-length">
    {{ node.metadata.imdb.length|default:"-" }}
  </td>
  <td class="item-release">
    {{ node.metadata.imdb.release_year|default:"-" }}
  </td>
  <td class="item-rating">
    {% if node.metadata.imdb.rating %}
      {% make_stars node.metadata.imdb.rating %}
    {% else %}
      -
    {% endif %}
  </td>
</tr>
{# The below is now dealt with in venclave.views.create_video_list_lp. #}
{% comment %}
{% if sublist %}
<tr style="display:none">
  <td colspan="5" class="sublist-container">
    <table class="video-sublist">
      {{ sublist|safe }}
    </table>
  </td>
</tr>
{% endif %}
{% endcomment %}
