/******************************** SONG TABLE *********************************/

TABLE.data {
    border: 1px #ddd solid;
    border-collapse: collapse;
    margin: 20px 0px;
    width: 100%;
}

TABLE.data THEAD TH {
    background-color: #aaa;
    border: 1px #ccc solid;
    color: #fefede;
    font-size: 13px;
    font-weight: bold;
    padding: 2px 7px;
    text-align: left;
}

TABLE.data THEAD TH.sort {
    cursor: pointer;
}

TABLE.data THEAD TH.sorta {
    background-color: #808080;
    background-image: url(/audio/images/sorta.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    cursor: pointer;
}

TABLE.data THEAD TH.sortd {
    background-color: #808080;
    background-image: url(/audio/images/sortd.png);
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
}

TABLE.data THEAD TH.edit {
    background-image: url(/audio/images/edit.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 12px;
}

TABLE.data THEAD TH.dl {
    background-image: url(/audio/images/dl.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 12px;
}

TABLE.data THEAD TH.drag {
    background-image: url(/audio/images/updown.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 16px;
}

TABLE.data TBODY TR.a {}
TABLE.data TBODY TR.b { background-color: #f2f2ff; }
/* TODO(rnk): 'c' means currently playing. Use a better name.  */
TABLE.data TBODY TR.c { border-bottom: 3px #ccf double; }

TABLE.data TBODY TD {
    text-align: left;
    padding: 3px 7px 4px;
    border-right: 1px #ddd solid;
}

TABLE.data TBODY TD.r { text-align: right; }
TABLE.data TBODY TD.c { text-align: center; }

TABLE.data TBODY TD.new A {
    background-image: url(/audio/images/new.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

TABLE.data TBODY TD.edit {
    background-image: url(/audio/images/edit.png);
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 12px;
}

TABLE.data TBODY TD.done {
    background-image: url(/audio/images/ok.png);
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 12px;
}

TABLE.data TBODY TD.error {
    background-image: url(/audio/images/cancel.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 12px;
}

TABLE.data TBODY TD.drag {
    background-image: url(/audio/images/updown.png);
    background-position: center center;
    background-repeat: no-repeat;
    cursor: move;
    width: 16px;
}

TABLE.data TBODY TD A {
    color: #000;
    text-decoration: none;
}
TABLE.data TBODY TD A:hover {
    color: #00f;
    text-decoration: underline;
}
TABLE.data TBODY TD A:active { color: #f00; }

TABLE.data TBODY TD A.queue { color: #00c; }
TABLE.data TBODY TD A.queue:hover { color: #33f; }
TABLE.data TBODY TD A.queue:active { color: #f00; }

TABLE.data TBODY TD A.recent { color: #858; }
TABLE.data TBODY TD A.recent:hover { color: #639; }
TABLE.data TBODY TD A.recent:active { color: #f00; }

TABLE.data TBODY TD IMG {
    vertical-align: middle;
}

TABLE.data TBODY TD INPUT.text {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.dl-link {
    color: blue;
    text-decoration: underline;
}

.dl-link IMG {
    border: 0px;
}

/******************************** COLPICKER **********************************/

table.data thead th.col-picker {
    margin: 2px;
    padding: 2px;
    border-spacing: 2px;
}

th.col-picker div.cmDiv {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    background: none;
    border: 0;
}

th.col-picker ul {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    list-style: none;
    color: black;
    font-size: 11pt;
}

th.col-picker ul li.main {
    padding: 2px;
    background: none;
}

table.data .clickMenu div.inner {
    left: -92px;
}

th.col-picker ul#col-list li {
    padding-left: 20px;
    background-repeat: no-repeat;
}

.col-on {
    background: url(/audio/images/tick.png) 0 50%;
}

.col-off {
    background: url(/audio/images/cross.png) 0 50%;
}

/***************************** SONGLIST COLUMNS ******************************/

.select {
    width: 1px;
}

.drag {

}

.track {
    /*width: 40px;*/
}

.title {
    
}

.album {
}

.artist {
}

.time {
    width: 40px; 
}

.date-added {
    width: 130px;
}

.col-picker {
    width: 10px;
}

/******************************** ACTIONS BAR ********************************/

DIV#actions {
    background-color: #ddd;
    border-top: 1px #aaa solid;
    font-size: 12px;
    padding: 5px 0 0 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: left;
    width: 100%;
    height: 30px;
    z-index: 2;
}

DIV#actions A {
    background-color: #eef;
    border: 1px #cce outset;
    color: #779;
    cursor: pointer;
    font-size: 10pt;
    height: 12px;
    margin: 0px 5px;
    padding: 2px 5px 2px 19px;
    position: relative;
    top: 4px;
    text-decoration: none;
    vertical-align: middle;
}
DIV#actions A:hover {
    background-color: #edf;
    color: #557;
}
DIV#actions A:active {
    background-color: #bbf;
    border: 1px #cce inset;
    color: #335;
}

DIV#actions A.queue {
    background: #eef url(/audio/images/speaker.png) 4px center no-repeat;
}
DIV#actions A.dl {
    background: #eef url(/audio/images/dl.png) 4px center no-repeat;
}
DIV#actions A.create {
    background: #eef url(/audio/images/create.png) 4px center no-repeat;
}
DIV#actions A.delete {
    background: #eef url(/audio/images/delete.png) 4px center no-repeat;
}
DIV#actions A.add {
    background: #eef url(/audio/images/add.png) 4px center no-repeat;
}
DIV#actions A.remove {
    background: #eef url(/audio/images/remove.png) 4px center no-repeat;
}
DIV#actions A.email {
    background: #eef url(/audio/images/email.png) 4px center no-repeat;
}
DIV#actions A.history {
    background: #eef url(/audio/images/history.png)
    4px center no-repeat;
}

DIV#actionsgap { height: 30px; }

/****************************** SUB-ACTIONS BAR ******************************/

DIV#subactions {
    background-color: #ccc;
    border-top: 1px #888 solid;
    font-size: 12px;
    padding: 5px 0 0 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: left;
    width: 100%;
    height: 30px;
    z-index: 1;
}

DIV#subactions A {
    border: 1px #cce outset;
    color: #779;
    cursor: pointer;
    font-size: 10pt;
    height: 12px;
    margin: 0px 5px;
    padding: 2px 5px 2px 19px;
    position: relative;
    top: 3px;
    text-decoration: none;
    vertical-align: middle;
}
DIV#subactions A:hover {
    background-color: #edf;
    color: #557;
}
DIV#subactions A:active {
    background-color: #bbf;
    border: 1px #cce inset;
    color: #335;
}

DIV#subactions .ok {
    background: #eef url(/audio/images/ok.png) 4px center no-repeat;
}
DIV#subactions .cancel {
    background: #eef url(/audio/images/cancel.png) 4px center no-repeat;
}

DIV#subactions INPUT {
    position: relative;
    bottom: 3px;
    vertical-align: middle;
}
DIV#subactions SELECT {
    position: relative;
    bottom: 3px;
    vertical-align: middle;
}

DIV#subactions SPAN {
    font-size: 10pt;
    height: 12px;
    margin: 0px 10px 0px 0px;
    padding: 2px 1px;
    position: relative;
    top: 3px;
    vertical-align: middle;
}

/*****************************************************************************/
