{% extends "venclave/base.html" %}

{% block styles %}
{{ block.super }}
      <link rel="stylesheet" type="text/css" href="{% url venclave-styles "jquery-ui-1.7.1.custom.css" %}"/>
      <link rel="stylesheet" type="text/css" href="{% url venclave-styles "browse.css" %}"/>
{% endblock %}

{% block scripts %}
{{ block.super }}
      <script type="text/javascript" src="{% url venclave-scripts "jquery.json-1.3.min.js" %}"></script>
      <script type="text/javascript" src="{% url venclave-scripts "jquery-ui-1.7.1.custom.min.js" %}"></script>
      <script type="text/javascript" src="{% url venclave-scripts "filter.js" %}"></script>
{% endblock scripts %}

{% block browse-image %}
  <img src="{% url venclave-images "browse_green.png" %}" alt="Browse" />
{% endblock browse-image %}


{% block content %}
{% if search_query %}
  <div class="results-banner">
    &#8220;<span class="search_query">{{ search_query }}</span>&#8221; results
  </div>
{% endif %}

<table id="browse">
  <tr>
    <td class="facet-container">
      {% include "facetlist_base.html" %}
    </td>
    <td class="list-container">
      {% include "venclave/videolist_base.html" %}
    </td>
  </tr>
</table>
{% endblock %}

