{% extends "base.html" %}

{% block header %}

{% endblock header %}

{% block content %}
<table class="home-content">
  <tr>
    <td>
      Welcome back
    </td>
    <td>
      Create an account
    </td>
  </tr>
  <tr>
    <td>
      <form name="login" action="{% url venclave-home %}" method="POST">
	<p>
	  <label for="login_username">Username:</label>
	  <input type="text" maxlength="30" name="username" id="login_username"/>
	</p>
	<p>
	  <label for="login_password">Password:</label> <input type="password" id="login_password" name="password"/>
	  <input type="hidden" name="f" value="l" />
	</p>
	<input type="submit" />
      </form>
    </td>
    <td>
      <form name="register" action="{% url venclave-home %}" method="POST">
	{{ reg_form.as_p }}
	<input type="hidden" name="f" value="r" />
	<input type="submit" />
      </form>
    </td>
  </tr>
</table>
{% endblock content %}
