{% extends "base.html" %}
{% load humanize %}

{% block preheader %}

{% endblock %}
<div class="title">VEncl&auml;ve <div class="subtitle">&Pi;&Tau;&Zeta; Video Network</div></div>
{% block header %}
<a href="{% url venclave-home %}">VEncl&auml;ve</a>
{% endblock %}

{% block body %}
<div class="message">
  <h3>Hi. What are you looking for?<h3>
</div>

<div class="message">
  <em>Search for movies, TV series, episodes, directors, and genres</em>
  <form method="GET" action="{% url venclave-search %}">
    <input type="text" id="search" name="q" size="30">
    <input type="submit" value="Go">
  </form>
</div>

<div class="message">
  <div class="searchkind">By Type</div>
  <a href="#">Movies</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">TV Shows</a>
</div>



<div class="message">
  <div class="searchkind">By Genre</div>
  Comedy Drama Sci-Fi Fiction Short Family ... (show all)
</div>

<div class="message">
  <div class="searchkind">By Year</div>
  1942 1956 <em>1992</em> 2001 2002 2003 2004 2005 2006
</div>

 
<div class="message" style="display:none;">
  Now searching through {{total_video_count|intcomma}}
  video{{total_video_count|pluralize}}.
</div>  

{% endblock %}
