<script type="text/javascript">
    var cycle_css = function(name, values) {
        var self = $(this);
        var i = 0;
        var n = values.length;
        return function() {
            self.css(name, values[i]);
            i = (i + 1) % n;
        }
    }

$('#video-list .item-title > a.parent').each(function(i, a) {
    var a = $(a);
    a.click(function(e) {
	var tr = a.closest('tr');
      tr.next().toggle();



        return false;
    });
});

$('#video-list .item-title > a.leaf').each(function(i, a) {
    var a = $(a);
    var id = a.closest('tr').attr('id1');
    var pane = null;
    var toggle_bg = cycle_css.call(a, 'background-color', ['#CCC',''])
    a.click(function(e) {
        toggle_bg()
        if (!pane) {
            $.get('{% url venclave-pane %}',
                  {id: id},
                  function(html) {
                      pane = $(html);
                      a.closest('tr').after(pane);
		      var title = pane.find('.nytimes').attr('href').replace(/#/, '');
                      jQuery.getJSON("http://www.google.com/uds/GwebSearch?v=1.0&q=nytimes review "+encodeURIComponent(title)+"&callback=?",
                                     function(json) {
                                         pane.find('.nytimes').attr({'href' : json.responseData.results[0].url});
                                     });
                  });
        } else {
            pane.toggle();
        }
        return false;
    });
});

</script>
