{% extends "venclave/base.html" %}

{% load venclave_tags %}
{% load bundler_tags %}

{% block styles %}
  {{ block.super }}
  {% css "venclave-styles" "jquery-ui-1.7.1.custom.css" %}
  {% css "venclave-styles" "browse.css" %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% javascript "venclave-scripts" "jquery.json-1.3.min.js" %}
  {% javascript "venclave-scripts" "jquery-ui-1.7.1.custom.min.js" %}
{% endblock scripts %}

{% block content %}
  <div id="results-banner">
    {{banner_msg|safe}}
  </div>

  <table id="video-list">
    <tr>
      <th>Title</th>
      <th>Length</th>
      <th>Size</th>
      {# TODO(rnk): Should make these headers sortable. #}
      {# TODO(rnk): Icons might be nice here. #}
      <th>IMDB</th>
      <th>MC</th>
      <th>RT</th>
    </tr>

    {% for node in nodes %}
      {% with node.metadata.imdb as imdb %}
        {% with node.metadata.rotten_tomatoes as rt %}
          {% with node.metadata.metacritic as mc %}
            <tr>
              <td class="item-title">
                <a href="{{ node.title|urlencode }}">{{ node.title }}</a></td>
              <td class="item-length">
                {% if imdb.length %}{{imdb.length}} min{% else %}-{% endif %}
              </td>
              <td class="item-size">{{node.size|filesizeformat}}</td>
              <td class="item-rating">
                {% if imdb %}
                  <a href="{{ imdb.imdb_uri }}">{{ imdb.rating|rating }}</a>
                {% endif %}
              </td>
              <td class="item-rating">
                {% if mc %}
                  <a href="{{ mc.mc_uri }}">{{ mc.score|rating }}</a>
                {% endif %}
              </td>
              <td class="item-rating">
                {% if rt %}
                  <a href="{{ rt.rt_uri }}">{{ rt.percent|rating }}</a>
                {% endif %}
              </td>
            </tr>
          {% endwith %}
        {% endwith %}
      {% endwith %}
    {% endfor %}

  </table>
{% endblock %}
